.EmojisContainer {
    max-height: 300px;
    overflow: overlay;
    display: flex;
    height: 100%;
    flex-wrap: wrap;

    button {
        width: 40px;
        height: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px 5px 0;
        background-color: transparent;
        border: none;
        border-radius: 10px;
        &:hover {background-color: rgba(184, 184, 184, 0.199);}

        label {font-size: 30px}
    }
    }
    
    