.contactsContainer {
    max-width: 350px;
    min-height: 100%;
    min-width: 300px;
    background-color: #111b21;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #90999e26;
    flex-grow: 1;

    .scrollableContainer {
        display: flex;
        overflow-y: auto;
        flex-direction: column;

        > label {
            margin: 40px auto;
            color: white;
            display: none;
        }

        > label:first-child{display: block;}
    }
    
    .contactContainer {
        display: flex;
        align-items: center;
        min-height: 70px;
        cursor: pointer;

        &:hover {background-color: #202c33}
        &.selected {background-color: #2a3942;}
        

        .date {
            color: rgb(134, 150, 160);
            font-size: 12px;
            align-self: flex-start;
        }

        .contactImage {
            height: 50px;
            min-width: 50px;
            border-radius: 50%;
            overflow: hidden;
            margin-left: 10px;
            background-color: #202c33;
            
            img {
                height: 100%;
                width: 100%;
            }
            
        }

        .contentContainer {
            border-bottom: 1px solid #8696a026;
            flex-grow: 1;
            max-width: calc(100% - 50px);
            padding: 10px;
            overflow: hidden;
            height: 100%;
            display: flex;
        }
    
        .verticalContainer {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: space-between;

            .contactName {
                font-size: 17px;
                color: white;
                justify-self: flex-start;
                cursor: pointer;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                max-width: 100%;

                span {color: red}
            }
            .lastMessage {
                font-size: 14px;
                color: #8696a0;
                cursor: pointer;
                margin-top: 5px;
                max-width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    .header {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #202c33;
        padding: 5px 10px;
        position: relative;

        h1 {
            color: white;
            margin-left: 10px;
            font-weight: 400;
            font-size: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .contactImage {
            height: 40px;
            min-width: 40px;
            border-radius: 50%;
            background-color: rebeccapurple;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
            }
        }

        svg {
            height: 100%;
            width: 100%;
            path {
                fill: #aebac1
            }
        }

        > button {
            height: 30px;
            min-width: 30px;
            padding: 3px;
            margin-left: 15px;
            cursor: pointer;
            background-color: transparent;
            border: none;

            &:nth-child(3) {margin-left: auto;}
        }

        .contextMenu {
            width: 200px;
            height: auto;
            background-color: #233138;
            padding: 10px 0;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            top: 50px;
            right: 20px;
            z-index: 100;

            > button, > a{
                border: none;
                background-color: transparent;
                color: white; 
                font-size: 15px;
                padding: 5px 20px;
                text-align: start;
                text-decoration: none;
                font-family: Arial;

                &:hover {
                    background-color: #1a262c;
                }
            }
        }
    
    }

    .inputWrapper {
        width: 100%;
        padding: 7px 15px;
        border-bottom: 1px solid #8696a026;

        .inputContainer {
            border-radius: 10px;
            width: 100%;
            background-color: #202c33;
            display: flex;
            height: 35px;
            align-items: center;
            padding: 7px 15px;

            input {
                overflow: hidden;
                text-overflow: ellipsis;
                background-color: transparent;
                border: none;
                outline: none !important;
                flex-grow: 1;
                align-items: center;
                margin-left: 20px;
                color: white;
            }

            svg {
                height: 24px;
                min-width: 24px;

                &.back path {fill: #00a884}
                path {fill: #aebac1}
            }

        }
    }
    
}